<script src="/js/nav.js"></script>

{% set firstSegment = craft.app.request.getSegment(1) %}
{% set email = "evejansenart@mail.com" %}

<nav id="nav__mobile-bar" class="d-flex justify-content-between d-md-none nav__mobile-bar">
    <div class="col-9 d-flex text-left align-items-center ps-5">
        <h1><a id="nav__site-title--mobile" class="nav__site-title nav__link" href="{{ siteUrl }}">Eve Jansen</span></a></h1>
    </div>
    <div class="col-3 nav__burger--div d-flex justify-content-center align-items-center" onclick="toggleNav()">
        <div id="nav__burger" class="col-3">
            <i id="nav__burger-icon" class="nav__burger-icon fa-solid fa-2xl fa-bars"></i>
        </div>
    </div>
</nav>

<nav id="nav__main" class="d-flex flex-column d-none d-md-block" role="navigation" aria-label="Main">
    
    <div class="spacer m-4 d-md-none"><br></div>
    <ul class="nav__ul d-flex flex-column justify-content-around align-items-md-center text-center flex-md-row mt-5 mt-md-0 mb-md-2">
        <li class="nav__item col-md-7 text-md-start ps-md-5">
            <a id="nav__site-title" class="nav__site-title d-none d-md-block nav__link" href="{{ siteUrl }}">Eve Jansen</span></a>
        </li>
        <div class="nav__other-pages {# col-md-3 #} col-md-2 d-flex flex-column flex-md-row justify-content-around align-items-center">
            <li class="nav__item d-md-flex align-items-md-center">
                <a class="nav__link {{ firstSegment == "contact" ? "button--active" }}" href="mailto:{{ email }}?subject=Enquiry">Contact</a>
            </li>
            {# <li class="nav__item d-md-flex align-items-md-center">
                <a class="nav__link {{ firstSegment == "about" ? "button--active" }}" href="{{ url("about") }}">About</a>
            </li> #}
            <li class="nav__item d-md-flex align-items-md-center">
                <a class="nav__link" href="https://www.instagram.com/evejansenart/"><i class="fa-brands fa-instagram"></i></a>
            </li>
        </div>
    </ul>
</nav>