<script src="/js/nav.js"></script>

{% set firstSegment = craft.app.request.getSegment(1) %}

<nav class="d-flex justify-content-between d-md-none nav__mobile-bar">
    <div class="col-9 d-flex text-left align-items-center ps-5">
        <h1><a class="nav__site--title nav__link" href="{{ siteUrl }}">Eve Jansen</span></a></h1>
    </div>
    <div class="col-3 nav__burger--div d-flex justify-content-center align-items-center" onclick="toggleNav()">
        <div id="nav__burger" class="col-3">
            <i id="nav__burger-icon" class="nav__burger-icon fa-solid fa-2xl fa-bars"></i>
        </div>
    </div>
</nav>

<nav id="nav__main" class="d-flex flex-column d-none d-md-block" role="navigation" aria-label="Main">
    
    <div class="spacer m-4 d-md-none"><br></div>
    <ul class="d-flex nav__ul flex-column justify-content-around text-center flex-md-row justify-content-md-center mt-5 mt-md-0">
        <li class="nav__item d-none d-md-block">
            <a class="nav__site-title nav__link" href="{{ siteUrl }}">Eve Jansen</span></a>
        </li>
        <li class="nav__item">
            <a class="nav__link nav__link--current {{ firstSegment == "contact" ? "nav__link--current" }}" href="{{ url("contact") }}">Contact</a>
        </li>
        <li class="nav__item">
            <a class="nav__link {{ firstSegment == "about" ? "nav__link--current" }}" href="{{ url("about") }}">About</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="https://www.instagram.com/evejansenart/"><i class="fa-brands fa-instagram"></i></a>
        </li>
    </ul>
</nav>